<p id="notice"><%= notice %></p>

<p>
  <strong>Reference:</strong>
  <%= @ticket.token %>
</p>

<p>
  <strong>Department:</strong>
  <%= @ticket.department %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @ticket.subject %>
</p>

<p>
  <strong>Request:</strong>
  <%= @ticket.body %>
</p>

<%= link_to 'Back', :back %> |
<%= link_to 'Reply', reply_window_ticket_path(@ticket) %>
